@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

.ql-container {
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.ql-toolbar {
    background: #E5E6E6;
    border: 1px solid red;
    border-radius: 4px 4px 0 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: none;
}

.ql-editor {
    min-height: 200px;
}

.ql-editor::selection {
    color: #000;
}

.ql-editor {
  max-width: 100%;
  overflow-wrap: anywhere !important;
  word-break: break-word !important;
}

.ql-editor * {
  max-width: 100% !important;
  box-sizing: border-box;
}

.ql-editor img {
  max-width: 100% !important;
  height: auto;
}

.ql-editor pre {
  overflow-x: auto;
}

.ql-editor table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}